<div class="container">
  <h3>Message</h3>

  <br>

<% if @over_ten %>
   <%= link_to 'Show Previous', '?m=all' %>
<% end %>

	<ul class="container">
	  <% @messages.each do |message| %>
	    <% if message.body %>
	      <% model = Model.find(message.model_id) %>
	      <div class="item">
	        <div class="content">
	          <div class="header"><strong><%= model.user_name %></strong></div>
	          <div class="list">
	            <div class="item">
	              <%= message.body %>
	            </div>
	          </div>
	        </div>
	      </div>
	    <% end %>
	  <% end %>
	</div>

	<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
	  <div class="field">
	    <%= f.text_area :body, class: "form-control" %>
	  </div>
	    <%= f.text_field :model_id, value: current_model.id, type: "hidden"  %>
	  <div>
	    <%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>
	  </div>

	<% end %>